.banner {
    width: 100%;
    height: 300px;
}

.products-divClass {
    height: 700px;
    overflow: auto;
}

.prod-img {
    width: 80%;
    height: 80%;
}

.navbar-shadow {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #F5F5F5;
}

.logged {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.product-image {
    width: 150px;
    height: 150px;
}

.profile-dropdown a {
    color: #000;
}

.overlay {
    display: none;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

div.close-overlay {
    position: relative;
    top: 2%;
    left: 45%;
    cursor: pointer;
}

img.close-overlay {
    width: 5%;
}

.overlay-title {
    font-size: 25px;
}

a:hover {
    text-decoration: none;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.footer {
    background-color: #fff;
    -webkit-box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.footer-left-menu {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-brand {
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.main-content {
    background-color: #EFF0F1;
}

.store-badge-icon {
    width: 45%;
    border-radius: 8px;
}

.payment-badge-icon {
    width: 12%;
}

.footer-list {
    list-style: none;
    padding-left: 0px;
}

.footer-list li {
    padding: 5px;
}

.footer-content {
    line-height: 35px;
}

.store-info {
    margin-top: 20px;
}

.col-text,
.col-text a {
    color: #e41958;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.header-right-icons {
    padding: 5px;
}

.footer-right-icons {
    padding: 5px;
    width: 30px;
}

.footer .footer-brand {
    padding: 25px;
}

main {
    padding-top: 100px;
}

.tags {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    padding: 25px;
}

.tag-icons {
    width: 15%;
}

.left-tag {
    -webkit-clip-path: polygon(75% 0%, 85% 49%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
    clip-path: polygon(75% 0%, 85% 49%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
    background-color: #9d1080;
    min-height: 87px;
    width: 120%;
}

.left-tag div {
    padding-top: 25px;
    padding-right: 70px;
}

.center-tag {
    -webkit-clip-path: polygon(100% 0, 90% 49%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
    clip-path: polygon(100% 0, 90% 49%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
    background-color: #e41958;
    min-height: 70px;
    width: 120%;
}

.center-tag-img {
    top: -15px;
    position: relative;
}

.center-tag-text {
    display: inline-block;
    width: 50%;
    padding-top: 10px;
}

.right-tag {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 15% 49%, 25% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 15% 49%, 25% 0%);
    background-color: #9d1080;
    min-height: 86px;
    width: 120%;
}

.right-tag div {
    padding-top: 25px;
    padding-left: 50px;
}

.removePadding {
    padding: 0;
}

.price-rise-fall {
    background-color: #2fa9f6;
    width: 100%;
    color: #fff;
}

.price-rise-fall span {
    padding-left: 25px;
    padding-right: 25px;
    border-right: 2px solid #fff;
}

.price-rise-fall img {
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
}


/*.marquee {
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 25s linear infinite;
}

.marquee:hover {
    animation-play-state: paused
}

@keyframes marquee {
    0% {
        text-indent: 110em
    }
    100% {
        text-indent: -110em
    }
}*/

.product-container {
    padding-top: 30px;
    padding-bottom: 30px;
}


/*div.location-popup {
    cursor: default;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    font-weight: inherit;
    left: 0px;
    margin-left: 0px;
    top: 65px;
    position: absolute;
    right: 0px;
    text-transform: none;
    z-index: 99999;
    width: 300px;
    list-style-type: none;
    padding: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.74902) 0px 0px 2px 0px;
    border-radius: 10px;
    color: #000;
    height: 120px;
}*/

div.location-popup .change-address {
    cursor: pointer;
    color: #6cb5e3;
}

.product-container-title-row {
    padding-top: 25px;
    padding-bottom: 50px;
}

.product-container-title {
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    line-height: 18px;
    text-align: center;
}

.product-card {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    height: 360px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.product-card p {
    margin-bottom: 0px;
}

.product-card a {
    color: #000;
}

.product-quantity {
    border-radius: 5px;
    background-color: #E9E9E9;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 80%;
    text-align: center;
    text-align-last: center;
}

.add-to-bag {
    background-color: #E21957;
    border-radius: 10px;
    width: 65%;
    height: 13%;
    border: none;
    color: #fff;
}

.add-to-bag img {
    position: relative;
    right: 8px;
    bottom: 2px;
}


/* MEDIA QUERY FOR DEFAULT DEVICES */

@media (max-width: 768px) {
    .navbar-brand > img {
        display: block;
        width: 75%;
    }
    .resp-login {
        float: right;
        position: relative;
        top: 10px;
        right: 10px;
        padding-left: 15px;
    }
    main {
        padding-top: 75px;
    }
    .container {
        text-align: center;
    }
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .left-tag,
    .center-tag,
    .right-tag {
        -webkit-clip-path: none;
        clip-path: none;
        width: 100%;
        min-height: 50px;
    }
    .center-tag {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .left-tag div {
        padding-top: 5px;
        padding-right: 0;
    }
    .right-tag div {
        padding-top: 5px;
        padding-left: 0;
    }
    .product-container-title-row {
        display: inline-flex;
    }
    .product-row {
        padding-bottom: 0;
    }
    .product-card {
        margin-bottom: 25px;
    }
    .footer-content {
        padding-top: 25px;
        width: 110%;
        right: 20px;
        position: relative;
    }
    .profile-modal {
        width: 89%;
        height: 70%;
        top: 30%;
    }
    .back-overlay {
        width: 20px;
        height: 25px;
        position: relative;
        right: 150px;
        bottom: 10px;
        cursor: pointer;
    }
    .sign-up-next-btn,
    .sign-up-btn {
        margin-left: 35px;
    }
    .basket-logo {
        display: none;
    }
    .product-description-card {
        width: 100%;
    }
    .product-description-card {
        height: auto;
    }
    .product-description-card .prod-sm-view {
        margin: 2px;
    }
    .product-description-card .col-md-2 {
        padding-left: 0px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 35px;
    }
    .product-description-card .prod-lg-view {
        width: 327px;
        height: 327px;
        margin-left: 15px;
    }
    .product-description {
        margin-left: 0px;
        margin-top: -50px;
    }
    .product-description .prod-title {
        padding-left: 15px;
    }
    .prod-desc-quantity {
        width: 360px;
        padding-top: 30px;
    }
    .product-description-card .col-md-5 {
        padding-top: 0px;
        margin-top: 60px;
    }
    .navbar-header {
        width: 390px;
    }
}

.active-address-card button.checkout-address-btn {
    float: none;
    margin-right: 0px;
}

.card {
    padding-bottom: 20px;
}

.verified-address-card,
.card-form input.card-number,
.card-form input.cvv,
.place-cod-order-btn,
.place-card-order-btn {
    margin-left: 0px;
    width: 100% !important;
}

.checkout-payment {
    margin-top: 30px;
}

.card-form {
    padding-left: 20px;
}

.card-form table td.card-date {
    width: 65% !important;
}


}

/* MEDIA QUERY FOR iPAD PORTRAIT MODE*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #navbar {
        padding-right: 15px;
    }
    
    .hidden-lg {
        display: none;
    }
    
    .navbar-header {
        width: 250px;
    }
    
    .product-description-card .prod-sm-view {
        margin: 8px;
        width: 160px;
        height: 160px;
    }
    
    .product-description-card .col-md-5 {
        margin-top: 145px;
    }
    
    .product-description-card .prod-lg-view {
        width: 685px;
        height: 685px;
    }
    
    .product-description {
        margin-top: -110px;
        width: 100%;
    }
    /*.product-description .prod-title {
        font-size: 30px;
    }*/
    
    .product-description .prod-price-strike,
    .product-description .prod-price {
        font-size: 25px;
    }
    
    .prod-desc-quantity {
        width: 100%;
    }
    
    .prod-desc-quantity select,
    .prod-desc-quantity input {
        height: 40px;
        font-size: 25px;
    }
}

/* MEDIA QUERY FOR iPHONE 6 PLUS PORTRAIT MODE*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    .navbar-header {
        margin-right: 0px !important;
    }
    
    .product-description-card .col-md-2 {
        padding-right: 30px;
    }
    
    .product-description-card .prod-lg-view {
        margin-left: 30px;
    }
}

/* MEDIA QUERY FOR iPHONE 6 PORTRAIT MODE*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .navbar-header {
        margin-right: -5px !important;
    }
}

/* MEDIA QUERY FOR iPHONE 5 and 5S PORTRAIT MODE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .container {
        width: 95%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    
    .navbar-header {
        width: 330px;
    }
    
    .grand-total-card {
        width: 115%;
        padding-top: 1px;
        float: none;
    }
    
    .payment-form {
        width: 97%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    
    .product-description-card .col-md-2 {
        padding-right: 15px;
    }
    
    .product-description-card .prod-sm-view {
        width: 65px;
        height: 65px;
    }
    
    .product-description-card .prod-lg-view {
        width: 270px;
        height: 270px;
    }
    
    .product-description {
        width: 105%;
    }
    
    .prod-desc-quantity {
        width: 100%
    }
}
